/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
/*:root { /* Color palette for css */
/*--main-color: #DB1A11;  Red */
/*--main-color--light: #F04D44;*/ /* Red, a shade lighter */
/*--secondary-color: #D6972A;*/ /* Yellow gold */
/*--light-color: #FFFBFB;*/ /* White */
/*--dark-color: #000000;*/ /* Black */
/*--secondary-color--dark: #9D7C39;*/ /* Dark Gold */
/*}*/


/*========================================================
        START CastMember Create styling
========================================================*/
.CastMember-Create--Container {
    background-color: transparent;
}
.CastMember-Create--FormBody {
    background-color: var(--light-color);
    color: white;
    border-radius: 50px;
    margin-top: 50px;
}
.CastMember-Create--Header {
    color: var(--dark-color);
    text-align: center;
    padding-top: 20px;
}
.CastMember-Create--FileInput {
    background-color: var(--secondary-color);
    color: var(--dark-color);
    width: 250px;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    border: 0px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px;
    padding-right: 10px;
    background-color: var(--light-color);
    outline-color: var(--light-color);
    width: 100%;
    border-radius: 4px;
}
.CastMember-Create--FieldLabel {
    padding-left: 20px;
    font-size: 2em;
    color: var(--dark-color);
}
.CastMember-Create--InputField {
    background-color: var(--secondary-color);
    color: var(--dark-color);
    width: 250px;
    font-weight: bold;
    font-size: 1em;
    border: 0px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px;
    padding-right: 10px;
    background-color: var(--light-color);
    outline-color: var(--light-color);
    width: 100%;
    border-radius: 4px;
}
.CastMember-Create--InputField:focus {
    outline-color: var(--secondary-color);
    background-color: var(--dark-color);
    color: var(--light-color);
}
.CastMember-Create--Center {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
}
.CastMember-Create--Checkbox {
    padding-left: 50px;
    padding-bottom: 10px;
}
.CastMember-Create--CreateButtonDiv {
    margin-top: 0px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.CastMember-Create--CreateButton {
    background-color: var(--secondary-color);
    width: 250px;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    border: 0px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px;
}
.CastMember-Create--BackButtonDiv {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.CastMember-Create--BackButton {
    background-color: var(--main-color);
    width: 150px;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    border: 0px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px;
}
.CastMember-Create--BackButton:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -o-transition: all .1s ease;
    -ms-transition: all .1s ease;
    transition: all .1s ease;
}
.CastMember-Create--Link {
    color: var(--dark-color);
}
.CastMember-Create--Link:link {
    color: var(--dark-color);
}
.CastMember-Create--Link:hover {
    color: var(--dark-color);
}
/*========END CastMember Create styling==========*/



/*========================================================
        START CastMember Edit styling
========================================================*/
.CastMember-Edit--PhotoContainer {
    text-align: center;
}
.CastMember-Edit--Photo {
    max-width: 500px;
    align-content: center;
}
/*========END CastMember Edit styling==========*/



/*========================================================
        START CastMember Index styling
========================================================*/
.CastMember-Index--PageHeader {
    text-align: center;
}
.CastMember-Index--GroupHeader {
    color: var(--light-color);
    font-size: 25px;
    background: linear-gradient(to left, var(--secondary-color), var(--main-color) 100%);
    background-position: 0 100%;
    background-size: 100% 2px;
    background-repeat: repeat-x;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
.CastMember-Index-Deck {
    padding-right: 10px;
    margin-bottom: 75px;
}
.CastMember-Index--Card {
    -webkit-filter: brightness(100%);
    max-width: 23%;
    margin: 1%;
}
.CastMember-Index--Card:hover {
    -webkit-filter: brightness(80%);
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -o-transition: all .1s ease;
    -ms-transition: all .1s ease;
    transition: all .1s ease;
}
.CastMember-Index--Card:hover .CastMember-Index--IconContainer {
    display: block;
}
.CastMember-Index--CardTitle {
    color: var(--dark-color);
    text-align: center;
    font-size: 30px;
    padding-right: 0px;
}
.CastMember-Index--IconContainer {
    display: none;
}
.CastMember-Index--DeleteIcon:link {
    color: var(--main-color);
    font-size: 50px;
}
.CastMember-Index--DeleteIcon:visited {
    color: var(--main-color);
    font-size: 50px;
}
.CastMember-Index--EditIcon:link {
    color: var(--secondary-color);
    font-size: 50px;
}
.CastMember-Index--EditIcon:visited {
    color: var(--secondary-color);
    font-size: 50px;
}
.CastMember-Index--CreateButtonDiv {
    margin-top: 0px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.CastMember-Index--CreateButton {
    float: left;
    background-color: var(--secondary-color);
    width: 250px;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    border: 0px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px;
    -webkit-filter: brightness(100%);
}
.CastMember-Index--CreateButton:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -o-transition: all .1s ease;
    -ms-transition: all .1s ease;
    transition: all .1s ease;
}
.CastMember-Index--Link {
    color: var(--dark-color);
}
.CastMember-Index--Link:link {
    color: var(--dark-color);
}
.CastMember-Index--Link:hover {
    color: var(--dark-color);
}
/*========END CastMember Index styling==========*/



/*========================================================
        START CastMember Details (and Delete) styling
========================================================*/
.CastMember-Details--Container {
    width: 70%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
    margin-top: 5%;
    background-color: #6c757d;
    border-radius: 100px;
}
.CastMember-Details--NameHeader {
    font-size: 75px;
    font-weight: bold;
    align-content: center;
    text-align: center;
    background: linear-gradient(to left, var(--secondary-color), var(--main-color) 100%);
    background-position: 0 100%;
    background-size: 100% 10px;
    background-repeat: repeat-x;
    margin-bottom: 10px;
}
.CastMember-Details--Photo {
    align-content: center;
}
.CastMember-Details--Label {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
.CastMember-Details--Entry {
    padding-left: 20px;
}
.CastMember-Details--DeleteIcon {
    padding-top: 5%;
    padding-left: 10%;
}
.CastMember-Details--EditIcon {
    padding-top: 5%;
    padding-left: 50%;
}
.CastMember-Delete--DeleteConfirm {
    margin-top: 20px;
    border-radius: 20px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    background-color: var(--main-color);
}
.CastMember-Delete--ButtonContainer {
    text-align: center;
}
.CastMember-Delete--DeleteButton {
    background-color: var(--main-color);
    width: 150px;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    border: 0px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px;
    margin-bottom: 10px;
}
.CastMember-Delete--DeleteButton:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -o-transition: all .1s ease;
    -ms-transition: all .1s ease;
    transition: all .1s ease;
}
.CastMember-Delete--BackButton {
    background-color: var(--secondary-color);
    width: 150px;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    border: 0px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px;
}
.CastMember-Delete--BackButton:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -o-transition: all .1s ease;
    -ms-transition: all .1s ease;
    transition: all .1s ease;
}
.CastMember-Delete--EditButton {
    background-color: var(--secondary-color);
    color: var(--dark-color);
    width: 150px;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    border: 0px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px;
}
.CastMember-Delete--EditButton:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -o-transition: all .1s ease;
    -ms-transition: all .1s ease;
    transition: all .1s ease;
}
.CastMember-Delete--EditLink {
    color: var(--dark-color);
}
.CastMember-Delete--EditLink:link {
    color: var(--dark-color);
}
.CastMember-Delete--EditLink:visited {
    color: var(--dark-color);
}
.CastMember-Delete--EditIcon {
    color: var(--dark-color);
}
.CastMember-Delete--EditIcon:link {
    color: var(--dark-color);
}
/*========END CastMember Details (and Delete) styling==========*/



/*========================================================
        START CastMember Delete styling
========================================================*/
.CastMember-Delete--DeleteIcon {
    color: var(--dark-color);
}
/*========END CastMember Delete styling==========*/